@import "../../_variables";
$fondoClaro: #ffffff; /*TEMA DE PALETA DE COLOR  */
$darkBlue: #0a65a2;
$bluePrincipal: #2980b9;
$celesteClaro: #6dd5fa;
$fondoClaro: #ffffff;
$sombraGris: #6464646e;
$fontColor: black;
$colorGris: #646464;
/* OLAS */
html,
body {
  height: 100%;
}
body {
  /* ñ */
  overflow: hidden;
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #016885;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.76, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.wave:nth-of-type(3) {
  top: -175px;
  animation: wave 4s cubic-bezier(0.76, 0.45, 0.63, 0.53) -0.4125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}
.wave:nth-of-type(4) {
  top: -175px;
  animation: wave 4s cubic-bezier(0.76, 0.45, 0.63, 0.53) -0.2725s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 50px, 0);
    position: absolute;
    bottom: -20px;
  }
}
/*FISHER MEN*/
.pesca {
  .muelle {
    height: 80%;
    width: 13%;
    background: linear-gradient(to bottom, black 0%, brown 10%, black 100%);
    position: absolute;
    bottom: 530%;
    border: 2.5px solid black;
  }
  .muelle:nth-child(2) {
    width: 13%;
    background: linear-gradient(to bottom, rgb(177, 56, 56) 0%, brown 10%, black 100%);
    bottom: 230%;
    transform: rotate(90deg);
  }
  .muelle:nth-child(3) {
    width: 13%;
    background: linear-gradient(to bottom, rgb(177, 56, 56) 0%, brown 10%, black 100%);
    bottom: 230%;
    transform: rotate(90deg);
    left: 5%;
  }
  .fisherman {
    .body {
      width: 6px;
      height: 160px;
      background: black;
      position: absolute;
      left: 11.3%;
      bottom: 750%;
      transform: rotate(13deg);
    }
    .arm {
      width: 6px;
      height: 80px;
      background: black;
      position: absolute;
      left: 12.9%;
      bottom: 860%;
      transform: rotate(69deg);
    }
    .legs {
      .leg1 {
        width: 6px;
        height: 90px;
        background: black;
        position: absolute;
        left: 11.2%;
        bottom: 600%;
        transform: rotate(-20deg);
      }
    }
    .leg2 {
      width: 6px;
      height: 90px;
      background: black;
      position: absolute;
      left: 10.2%;
      bottom: 600%;
      transform: rotate(10deg);
    }
    .headF{
      height:70px;
      width: 70px;
      border-radius: 180px;
      background: black;
      position: absolute;
      left: 11.1%;
      bottom: 1050%;
    }
  }
  .stick {
    width: 8px;
    height: 180px;
    background: black;
    position: absolute;
    left: 16.1%;
    bottom: 930%;
    transform: rotate(27deg);
  }
  .pendulo {
    display: grid;
    grid-template: 31fr 2fr/ 1fr;
    grid-template-areas:
      "cuerda"
      "bola";
      justify-items: center;
      position: absolute;
      bottom: -652%;
      left: 15.5%;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transform-origin: 4% 0%;
    animation-timing-function: cubic-bezier(0.78, -0.04, 0.42, 1.14);
    will-change: transform;
  }

  .p1 {
    grid-area: p1;
    animation-name: p1;
  }
  .cuerda {
    grid-area: cuerda;
    background: black;
    position: absolute;
    top: 30px;
    width: 2px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .bola {
    grid-area: bola;
    background-image: url("https://lesser-dawns.000webhostapp.com/multimedia/recursos/external-bait-all-for-fishing-flat-icons-inmotus-design-5-removebg-preview.png");
    position: relative;
    left: 10px;
    top: -10px;
    width: 80px;
    height: 60px;
    border-radius: 50%;
  }

  .b1 {
    animation-name: bola;
  }
  @keyframes p1 {
    0% {
      transform: rotateZ(-40deg);animation-timing-function: cubic-bezier(0.78, -0.04, 0.42, 1.14);
    }
    50%{
       transform: scale(1.1);animation-timing-function: linear;
    }
    100% {
      transform: rotateZ(8deg);animation-timing-function: cubic-bezier(0.78, -0.04, 0.42, 1.14);
    }
  }
}

/* EDITOR DE TEXTO */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  color: $fondoClaro;
}
#codeVsc {
  background-color: $fondoClaro;
  height: 5px;
  width: 70%;
  align-items: center;
  margin-left: 15%;
}
.code {
  width: 45.9%;
  height: 830px;
  background-color: $bluePrincipal;
  align-items: center;
  margin: auto;
  margin-top: 2.15%;
  margin-bottom: 1%;
  border: 5px solid black;
  z-index: 300;
  padding: 0;
  overflow: hidden;
  margin-bottom: 3%;
  position: relative;
  top: -1950%;
}

#navCode {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.761);
  display: inline-block;
  border-bottom: 1px solid $sombraGris;
  overflow: hidden;
  align-content: center;
  position: relative;
  top: -5.5%;
  .nameFile {
    text-align: center;
    display: inline-block;
  }
}

.logo {
  font-family: italic;
  font-weight: 900;
  font-size: 26px;
  position: relative;
  display: inline-block;
  padding: 1px;
  left: -30.5%;
  top: -150%;
  width: 6%;
  margin: auto;
  color: $fondoClaro;
}

.circulos {
  width: 2%;
  height: 40%;
  border-radius: 80px;
  border: 1px solid$fondoClaro;
  display: inline-block;
  margin: auto;
  position: relative;
  top: -150%;
  left: -25.5%;
  box-shadow: 0px 0px 10px$sombraGris;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#green {
  background-color: green;
}

.nameFile {
  color: white;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 0;
  font-size: 18px;
  top: -160%;
  left: -5.5%;
}

.minimizar {
  transform: rotateZ(90deg);
  height: 25px;
  width: 2px;
  background-color: white;
  border: 2px solid white;
  z-index: 2;
  display: inline-block;
  position: relative;
  left: 22.5%;
  top: -145%;
  box-shadow: 0px 0px 10px $sombraGris;
}

.closers {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 3.6%;
  height: 100%;
  left: 27.2%;
  top: -145%;
  cursor: pointer;

  &:hover {
    background-color: red;
  }

  .close {
    transform: rotateZ(45deg);
    height: 25px;
    width: 2px;
    background-color: $fondoClaro;
    border: 2px solid$fondoClaro;
    z-index: 2;
    display: inline-block;
    position: relative;
    left: 7.9%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
  }

  .close2 {
    transform: rotateZ(135deg);
    height: 25px;
    width: 2px;
    background-color: $fondoClaro;
    border: 2px solid$fondoClaro;
    z-index: 2;
    display: inline-block;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    left: -15%;
  }
}

.sidebarVsc {
  position: relative;
  top: -10.1%;
  left: 0%;
  background-color: rgba(67, 67, 67, 0.755);
  margin: 0%;
  height: 95.5%;
  width: 8%;
  border-right: 1px solid$fondoClaro;

  .itemSelected {
    background-color: $colorGris;
    width: 100%;
    height: 6.55%;
    transition: width 2s, height 2s;
    box-sizing: border-box;
    border: 2px solid $fontColor;
    cursor: pointer;
  }
  svg {
    position: relative;
    top: -50px;
    stroke: white;
    -webkit-transition: transform 2s ease-in-out;
    -moz-transition: transform 2s ease-in-out;
    transition: transform 2s ease-in-out;
  }
}
.itemSelected:hover {
  width: 200%;
  height: 6.55%;
  position: absolute;
  z-index: 1;
}
.itemSelected:hover svg {
  transform: translateX(-140%);
  transition: transform 2s;
}
.itemSelected:hover .texto {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  text-align: center;
  transform: translate(10%, -200%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.texto {
  font-weight: 800;
  font-size: 29px;
  opacity: 0;
  display: inline;
  position: relative;
  top: -35px;
  color: $fondoClaro;
}
.containerCode {
  width: 92%;
  height: 95.2%;
  position: relative;
  top: -105.3%;
  left: 8%;
  display: block;
  background-color: rgba(0, 0, 0, 0.782);
  overflow: hidden;

  #bodyCode1 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    left: 0;
    width: 92%;
    text-align: left;
    display: flex;
  }
  #bodyCode2 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 12.5px;
    width: 92%;
    display: flex;
  }
  #bodyCode3 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 25px;
    width: 92%;
    display: flex;
  }
  #bodyCode4 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 37.5px;
    width: 92%;
    display: flex;
  }
  #bodyCode5 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 50px;
    width: 92%;
    display: flex;
  }
  #bodyCode6 {
    color: aliceblue;
    font-weight: 900;
    font-size: 18px;
    float: left;
    text-align: left;
    margin-left: 62.5px;
    width: 92%;
    display: flex;
  }
  .redText {
    color: rgb(223, 0, 0);
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  .greenText {
    color: rgb(17, 209, 0);
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  .yellowText {
    color: rgb(206, 192, 0);
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
}
