/* MOVIL S */
@media screen and (max-width: 767px) and (min-width: 200px) and (orientation: portrait) /* OPTIMIZADO PARA QUE SE VEA EN DIPOSITIVOS CON 125% EN LA IMAGEN */ {
    .sec1 {
        width: 100%;

        .mainSection {
            position: relative;
            width: 100%;
            top: -20px;

            .col-9 {
                width: 100%;
                height: 41%;
                transform: translate(0%, -70%);
                h2 {
                    font-weight: 1000;
                    font-family: italic;
                    text-shadow: 2px 2px 8px rgb(255, 255, 255);
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    height: 75%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    mix-blend-mode: color;
                }
                .saludo {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-weight: bolder;
                    font-size: 4.95vw;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    margin: 0;
                }
            }

            aside {
                position: absolute;
                right: 0px;
                height: 40vh;
                transform: translate(0%, 30%);
                padding-left: 0px;
                margin: 0px 12.5%;
                font-weight: bolder;
                width: 75%;
            }
            #navH {
                font-size: 5vw;
            }
            #navP {
                font-size: min(max(2.5vw, 2.78vw));
            }
        }
    }
    .sec2 {
        width: 100%;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 85%;
            margin: 7% 4%;
            height: 90vh;
            top: -100vh;
            #navCode {
                height: 8vh;
                position: relative;
                top: -7.15vh;
                .nameFile {
                    font-size: 16px;
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    height: 15vh;
                    margin: auto;
                }
                .logo {
                    display: none;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 12px;
                }
                #bodyCode2 {
                    font-size: 12px;
                }
                #bodyCode3 {
                    font-size: 12px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 10px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 8px;
                }
                #bodyCode4 {
                    font-size: 12px;
                }
                #bodyCode5 {
                    font-size: 12px;
                }
                #bodyCode6 {
                    font-size: 10px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        overflow: hidden;

        .fish {
            display: none;
        }

        .cards {
            transform: translate(-4%, -10%);
            .row {
                flex-flow: row;
                .col {
                    padding: 0;
                    width: 35vh;
                    margin: clamp(0.2vw, 1.2vw, 2.7vw);
                    .wrapper {
                        width: 39vw;
                    }
                }
            }
        }
        th {
            font-size: 4vw !important;
        }
        td {
            font-size: 2.5vw !important;
        }

        .gradient-border {
            margin: 0;
            width: 80vw;
            transform: translate(10%, 0%);
            .slider {
                height: 100px;
                width: 100%;
                margin: 0;
                left: 0%;
                position: absolute;
            }
            &::after {
                width: 100%;
                left: 0%;
                position: absolute;
            }
        }
    }
    .sec4 {
        width: 100%;
        overflow: hidden;

        .contact {
            width: 80%;
            height: 85vh;
            margin: 0px auto;
            transform: translate(0px, -5%);
            .contactContainer {
                width: 100%;
                height: 105vh;
                opacity: 1 !important;
                transform: scaleY(0.83) !important;
                .glass form {
                    margin: auto;
                    width: 100%;
                    padding: 0%;
                    .mb-2 {
                        margin: 5vh auto;
                        width: 100%;

                        h4 {
                            align-content: center;
                        }
                        label.form-control {
                            width: 100%;
                        }
                    }
                }

                .subButton {
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            display: none;
        }
    }
    /* DARK */
    .sec1Night {
        width: 100%;

        .mainSectionDark {
            position: relative;
            width: 100%;
            top: 0vh;
            height: 104vh;

            .col-9 {
                width: 100%;
                height: 41%;
                transform: translate(0%, -70%);
                h2 {
                    font-weight: 1000;
                    font-family: italic;
                    text-shadow: 2px 2px 8px rgb(255, 255, 255);
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    height: 75%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    mix-blend-mode: color;
                }
                .saludo {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-weight: bolder;
                    font-size: 5.5vw;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    margin: 0;
                }
            }

            aside {
                position: absolute;
                right: 0px;
                height: 40vh;
                transform: translate(0%, 30%);
                padding-left: 0px;
                margin: 0px 12.5%;
                font-weight: bolder;
                width: 75%;
            }
            #navH {
                font-size: 5vw;
            }
            #navP {
                font-size: 3vh;
            }
        }
    }
    .sec2Night {
        width: 100%;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 85%;
            margin: 7% 4%;
            height: 90vh;
            top: -100vh;
            #navCode {
                height: 8vh;
                position: relative;
                top: -7.15vh;
                .nameFile {
                    font-size: 16px;
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    height: 15vh;
                    margin: auto;
                }
                .logo {
                    display: none;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 12px;
                }
                #bodyCode2 {
                    font-size: 12px;
                }
                #bodyCode3 {
                    font-size: 12px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 10px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 8px;
                }
                #bodyCode4 {
                    font-size: 12px;
                }
                #bodyCode5 {
                    font-size: 12px;
                }
                #bodyCode6 {
                    font-size: 10px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .sec3Night {
        width: 100%;
        overflow: hidden;

        .fish {
            display: none;
        }

        .cards {
            transform: translate(-4%, -10%);
            .row {
                flex-flow: row;
                .col {
                    padding: 0;
                    width: 35vh;
                    margin: clamp(0.2vw, 1.2vw, 2.7vw);
                    .wrapper {
                        width: 39vw;
                    }
                }
            }
        }
        th {
            font-size: 4vw !important;
        }
        td {
            font-size: 2.5vw !important;
        }

        .gradient-border {
            margin: 0;
            width: 80vw;
            transform: translate(10%, 0%);
            .slider {
                height: 100px;
                width: 100%;
                margin: 0;
                left: 0%;
                position: absolute;
            }
            &::after {
                width: 100%;
                left: 0%;
                position: absolute;
            }
        }
    }
    #demo-customized-button {
        transform: scale(0.8);
        right: -0.5% !important;
    }
}

@media screen and (max-width: 1025px) and (min-width: 768px) and (orientation: portrait) {
    .sec1 {
        width: 100%;

        .mainSection {
            position: relative;
            width: 100%;
            top: -20px;

            .col-9 {
                width: 100%;
                height: 41%;
                transform: translate(0%, -70%);
                h2 {
                    font-weight: 1000;
                    font-family: italic;
                    text-shadow: 2px 2px 8px rgb(255, 255, 255);
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    height: 75%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    mix-blend-mode: color;
                }
                .saludo {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-weight: bolder;
                    font-size: 4.95vw;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    margin: 0;
                }
            }

            aside {
                position: absolute;
                right: 0px;
                height: 40vh;
                transform: translate(0%, 30%);
                padding-left: 0px;
                margin: 0px 12.5%;
                font-weight: bolder;
                width: 75%;
            }
            #navH {
                font-size: 5vw;
            }
            #navP {
                font-size: min(max(2.5vw, 2.78vw));
            }
        }
    }
    .sec2 {
        width: 100%;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 85%;
            margin: 7% 4%;
            height: 90vh;
            top: -100vh;
            #navCode {
                height: 5vh;
                position: relative;
                top: -3.75vh;
                .nameFile {
                    font-size: 3vw;
                    position: absolute;
                    top: 0vw;
                    right: 0px;
                    height: 3vh;
                    margin: auto;
                }
                .logo {
                    display: none;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 2.5vw;
                }
                #bodyCode2 {
                    font-size: 2.5vw;
                }
                #bodyCode3 {
                    font-size: 2.5vw;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 2.5vw;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 2.5vw;
                }
                #bodyCode4 {
                    font-size: 2.5vw;
                }
                #bodyCode5 {
                    font-size: 2.5vw;
                }
                #bodyCode6 {
                    font-size: 2.5vw;
                    a {
                        font-size: 2.5vw;
                    }
                }
            }
        }}
    .sec3 {
        width: 100%;
        overflow: hidden;

        .fish {
            display: none;
        }

        .cards {
            transform: translate(-4%, -10%);
            .row {
                flex-flow: row;
                .col {
                    padding: 0;
                    width: 35vh;
                    margin: clamp(0.5vw, 1.5vw, 2.7vw);
                    .wrapper {
                        width: 39vw;
                    }
                }
            }
        }
        th {
            font-size: 4vw !important;
        }
        td {
            font-size: 2.5vw !important;
        }

        .gradient-border {
            margin: 0;
            width: 80vw;
            transform: translate(10%, 0%);
            .slider {
                height: 100px;
                width: 100%;
                margin: 0;
                left: 0%;
                position: absolute;
            }
            &::after {
                width: 100%;
                left: 0%;
                position: absolute;
            }
        }
    }
    .sec4 {
        width: 100%;
        overflow: hidden;

        .contact {
            width: 80%;
            height: 85vh; 
            margin: 0px auto;
            transform: translate(0px, -5%);
            .contactContainer {
                width: 100%;
                height: 105vh;
                opacity: 1 !important;
                transform: scaleY(0.83) !important;
                .glass form {
                    margin: auto;
                    width: 100%;
                    padding: 0%;
                    height: 50vh;
                    .mb-2 {
                        margin: 15vh auto;
                        width: 100%;
                        height: 15vh;

                        h4 {
                            align-content: center;
                            font-size: 4vw;
                        }
                        label.form-control {
                            width: 100%;
                            height:22vh
                        }

                        #exampleFormControlTextarea1 {
                            height: 10vh;
                            max-height: 13vh;
                        }
                    }
                }

                .subButton {
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            display: none;
        }
    }
    /* DARK */
    .sec1Night {
        width: 100%;

        .mainSectionDark {
            position: relative;
            width: 100%;
            top: 0vh;
            height: 104vh;

            .col-9 {
                width: 100%;
                height: 41%;
                transform: translate(0%, -70%);
                h2 {
                    font-weight: 1000;
                    font-family: italic;
                    text-shadow: 2px 2px 8px rgb(255, 255, 255);
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    z-index: 2;
                    height: 75%;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    mix-blend-mode: color;
                }
                .saludo {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    font-weight: bolder;
                    font-size: 4.95vw;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    pointer-events: none;
                    margin: 0;
                }
            }

            aside {
                position: absolute;
                right: 0px;
                height: 40vh;
                transform: translate(0%, 30%);
                padding-left: 0px;
                margin: 0px 12.5%;
                font-weight: bolder;
                width: 75%;
            }
            #navH {
                font-size: 5vw;
            }
            #navP {
                font-size: min(max(2.5vw, 2.78vw));
            }
        }
    }
    .sec2Night {
        width: 100%;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 85%;
            margin: 7% 4%;
            height: 90vh;
            top: -100vh;
            #navCode {
                height: 3vh;
                position: relative;
                top: -4.15vh;
                .nameFile {
                    font-size: 3vw;
                    position: absolute;
                    top: -1vw;
                    right: 0px;
                    height: 5vh;
                    margin: auto;
                }
                .logo {
                    display: none;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 2.5vw;
                }
                #bodyCode2 {
                    font-size: 2.5vw;
                }
                #bodyCode3 {
                    font-size: 2.5vw;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 2.5vw;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 2.5vw;
                }
                #bodyCode4 {
                    font-size: 2.5vw;
                }
                #bodyCode5 {
                    font-size: 2.5vw;
                }
                #bodyCode6 {
                    font-size: 2.5vw;
                    a {
                        font-size: 2.5vw;
                    }
                }
            }
        }
    }
    .sec3Night {
        width: 100%;
        overflow: hidden;

        .fish {
            display: none;
        }

        .cards {
            transform: translate(-4%, -10%);
            .row {
                flex-flow: row;
                .col {
                    padding: 0;
                    width: 35vh;
                    margin: clamp(0.5vw, 1.5vw, 2.7vw);
                    .wrapper {
                        width: 39vw;
                    }
                }
            }
        }
        th {
            font-size: 4vw !important;
        }
        td {
            font-size: 2.5vw !important;
        }

        .gradient-border {
            margin: 0;
            width: 80vw;
            transform: translate(10%, 0%);
            .slider {
                height: 100px;
                width: 100%;
                margin: 0;
                left: 0%;
                position: absolute;
            }
            &::after {
                width: 100%;
                left: 0%;
                position: absolute;
            }
        }
    }
    #demo-customized-button {
        transform: scale(0.8);
        right: -0.5% !important;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 1026px) and (orientation: landscape) {
    .sec1 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;

        main {
            position: relative;
            width: 100%;
            top: 0px;
            height: 940px;
        }
    }
    .sec2 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.51%;
                    bottom: 760%;
                }
                .arm {
                    height: 50px;
                    left: 12.9%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 13.7%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 60%;
            margin-top: 8%;
            height: 700px;
            #navCode {
                height: 55px;
                position: relative;
                top: -30px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        #cardContainer {
            transform: translate(0%, -20%) scale(85%);
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
            width: 96%;
        }
    }
    .sec4 {
        width: 100%;
        height: 1110px;
        background-size: 100% 1110px !important;
        overflow: hidden;

        .contact {
            width: 50%;
            position: relative;
            bottom: 125px;

            .contactContainer {
                width: 99.5%;
                background-size: 100% 600px;
                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton {
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            transform: translate(-50%, 0%);
        }
    }
    /* DARK */
    .sec1Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;

        .mainSectionDark {
            position: relative;
            width: 100%;
            top: 0px;
            height: 940px;
        }
    }
    .sec2Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.51%;
                    bottom: 760%;
                }
                .arm {
                    height: 50px;
                    left: 12.9%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 13.7%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 60%;
            margin-top: 8%;
            height: 700px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;
        #cardContainer {
            transform: translate(0%, -10%) scale(85%);
            .liTools {
                color: #fff !important;
            }
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
        }
    }
}
@media only screen and (max-width: 1439px) and (min-width: 1280px) {
    .sec1 {
        width: 100%;
    }
    .sec2 {
        width: 100%;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.41%;
                    bottom: 780%;
                }
                .arm {
                    height: 50px;
                    left: 12.689%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 14.197%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 60%;/* 
            margin-top: 8%;
            height: 740px; */
            #navCode {
                height: 50px;
                position: relative;
                top: -35px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        #cardContainer {
            transform: translate(0%, -20%) scale(0.75);
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
        }
    }
    .sec4 {
        width: 100%;
        height: 1110px;
        background-size: 100% 1110px !important;
        overflow: hidden;

        .contact {
            width: 50%;
            position: relative;
            bottom: 125px;

            .contactContainer {
                width: 99.5%;
                background-size: 100% 600px;
                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton {
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            transform: translate(-50%, 0%);
        }
    }
    /* DARK */
    .sec1Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;

        .mainSectionDark {
            position: relative;
            width: 100%;
            top: 0px;
            height: 940px;
        }
    }
    .sec2Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.51%;
                    bottom: 760%;
                }
                .arm {
                    height: 50px;
                    left: 12.9%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 13.7%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 70%;
            margin-top: 8%;
            height: 740px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;
        #cardContainer {
            transform: translate(0%, -10%) scale(85%);
            .liTools {
                color: #fff !important;
            }
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
        }
    }
}
@media only screen and (max-width: 1720px) and (min-width: 1440px) {
    .sec1 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;

        main {
            position: relative;
            width: 100%;
            top: 0px;
            height: 940px;
        }
    }
    .sec2 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.51%;
                    bottom: 760%;
                }
                .arm {
                    height: 50px;
                    left: 12.9%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 14.4%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 60%;
            margin-top: 8%;
            height: 670px;
            #navCode {
                height: 50px;
                position: relative;
                top: -35px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;
        #cardContainer {
            transform: translate(0%, -10%) scale(85%);
            
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
            width: 68%;
        }
    }
    .sec4 {
        width: 100%;
        height: 1110px;
        background-size: 100% 1110px !important;
        overflow: hidden;

        .contact {
            width: 50%;
            position: relative;
            bottom: 125px;

            .contactContainer {
                width: 99.5%;
                background-size: 100% 600px;
                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton {
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            transform: translate(-50%, 0%);
        }
    }
    /* DARK */
    .sec1Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;

        .mainSectionDark {
            position: relative;
            width: 100%;
            top: 0px;
            height: 940px;
        }
    }
    .sec2Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            .muelle:nth-child(2) {
                width: 16%;
                left: 3.75%;
            }
            .muelle:nth-child(3) {
                width: 16%;
                left: -7%;
            }
            .fisherman {
                .body {
                    height: 100px;
                    left: 10.51%;
                    bottom: 760%;
                }
                .arm {
                    height: 50px;
                    left: 12.9%;
                    bottom: 860%;
                }

                .headF {
                    left: 9%;
                    bottom: 950%;
                    transform: scale(0.75);
                }
                .leg2 {
                    left: 9%;
                }
            }
            .stick {
                height: 150px;
                left: 15.85%;
                bottom: 920%;
                transform: rotate(12deg);
            }
            .caña {
                top: -529px;
                left: 14.4%;
            }
        }
        .birds {
            filter: invert(100%);
        }
        #codeR {
            width: 60%;
            margin-top: 8%;
            height: 670px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
            }

            .containerCode {
                width: 92%;
                left: 8%;

                #bodyCode1 {
                    font-size: 16px;
                }
                #bodyCode2 {
                    font-size: 16px;
                }
                #bodyCode3 {
                    font-size: 16px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 14px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 12px;
                }
                #bodyCode4 {
                    font-size: 16px;
                }
                #bodyCode5 {
                    font-size: 16px;
                }
                #bodyCode6 {
                    font-size: 14px;
                }
            }
        }
    }
    .sec3Night {
        width: 100%;
        height: 950px;
        background-size: 100% 938px !important;
        overflow: hidden;
        #cardContainer {
            transform: translate(0%, -10%) scale(85%);
            .liTools {
                color: #fff !important;
            }
        }
        .gradient-border {
            margin: auto;
            transform: translate(0%, -100%) scale(85%);
        }
    }
}
