@media only screen and (width: 320px) {
    .sec1 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;

        main {
            position: relative;
            width: 100%;
            top: -120px;
            height: 915px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            z-index: 9;
            background: linear-gradient(to top, rgba(0, 145, 255, 0.5), rgb(255, 255, 255, 0.5));
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            border: 1px solid rgba(255, 255, 255, 0.25);

            h1 {
                font-weight: 1000;
                font-family: italic;
                font-size: 38px;
                text-shadow: 2px 2px 8px rgb(255, 255, 255);
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
                height: 40%;
                background: linear-gradient(to bottom, $fondoClaro, transparent);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                z-index: 2;
                background: linear-gradient(to top, #0091ff, transparent);
                mix-blend-mode: color;
            }
            .saludo {
                position: absolute;
                transform: translate(-50%, -225%);
                margin: 0;
                padding: 0;
                font-size: 0.41em;
                font-weight: bold;
                z-index: 2;
                font-family: sans-serif;
                color: #fff;
                text-transform: uppercase;
                text-shadow: 5px 5px 10px black;
                background: linear-gradient(to top, #0091ff, transparent);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 40%;
                object-fit: cover;
                pointer-events: none;
                margin: 0;
            }

            aside {
                position: absolute;
                right: 0px;
                height: 400px;
                transform: translate(0%, 45%);
                padding-left: 0px;
                margin-left: 0px;
                font-size: 18px;
                font-weight: bolder;
                width: 100%;
                text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.387);
            }
            p {
                font-size: 18px;
                color: black;
                font-family: $font;
            }
        }
    }
    .sec2 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 80%;
            margin-top: 15%;
            height: 750px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
                .nameFile {
                    font-size: 16px;
                    position: absolute;
                    top: 10px;
                    right: -80px;
                    margin: auto;
                }
                .logo {
                    top: -55px;
                    left: -100px;
                    position: relative;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 12px;
                }
                #bodyCode2 {
                    font-size: 12px;
                }
                #bodyCode3 {
                    font-size: 12px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 10px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 8px;
                }
                #bodyCode4 {
                    font-size: 12px;
                }
                #bodyCode5 {
                    font-size: 12px;
                }
                #bodyCode6 {
                    font-size: 10px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;
        overflow: hidden;

        .fish {
            display: none;
        }
        .gradient-border {
            margin: 0;
            .slider {
                height: 100px;
                width: 280px;
                margin: 0;
                left: 4%;
                position: absolute;
            }
            &::after {
                width: 290px;
                left: 3%;
                position: absolute;
            }
        }
    }
    .sec4 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;
        overflow: hidden;

        .contact {
            width: 80%;

            .contactContainer {
                width: 78%;
                opacity: 1;

                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton{
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            display: none;
        }
    }
    #demo-customized-button{
        right: 700px !important;
        top: 750px;
    }
    #demo-customized-button:nth-child(2){
        right: 700px !important;
        top: 655px;
    }
}
@media only screen and (width: 360px) {
    .sec1 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;

        main {
            position: relative;
            width: 100%;
            top: -120px;
            height: 915px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            z-index: 9;
            background: linear-gradient(to top, rgba(0, 145, 255, 0.5), rgb(255, 255, 255, 0.5));
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            border: 1px solid rgba(255, 255, 255, 0.25);

            h1 {
                font-weight: 1000;
                font-family: italic;
                font-size: 38px;
                text-shadow: 2px 2px 8px rgb(255, 255, 255);
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
                height: 40%;
                background: linear-gradient(to bottom, $fondoClaro, transparent);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                z-index: 2;
                background: linear-gradient(to top, #0091ff, transparent);
                mix-blend-mode: color;
            }
            .saludo {
                position: absolute;
                transform: translate(-50%, -225%);
                margin: 0;
                padding: 0;
                font-size: 0.41em;
                font-weight: bold;
                z-index: 2;
                font-family: sans-serif;
                color: #fff;
                text-transform: uppercase;
                text-shadow: 5px 5px 10px black;
                background: linear-gradient(to top, #0091ff, transparent);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 40%;
                object-fit: cover;
                pointer-events: none;
                margin: 0;
            }

            aside {
                position: absolute;
                right: 0px;
                height: 400px;
                transform: translate(0%, 45%);
                padding-left: 0px;
                margin-left: 0px;
                font-size: 18px;
                font-weight: bolder;
                width: 100%;
                text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.387);
            }
            p {
                font-size: 18px;
                color: black;
                font-family: $font;
            }
        }
    }
    .sec2 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 80%;
            margin-top: 15%;
            height: 750px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
                .nameFile {
                    font-size: 16px;
                    position: absolute;
                    top: 10px;
                    right: -80px;
                    margin: auto;
                }
                .logo {
                    top: -55px;
                    left: -100px;
                    position: relative;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 12px;
                }
                #bodyCode2 {
                    font-size: 12px;
                }
                #bodyCode3 {
                    font-size: 12px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 10px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 8px;
                }
                #bodyCode4 {
                    font-size: 12px;
                }
                #bodyCode5 {
                    font-size: 12px;
                }
                #bodyCode6 {
                    font-size: 10px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;
        overflow: hidden;

        .fish {
            display: none;
        }
        .gradient-border {
            margin: 0;
            .slider {
                height: 100px;
                width: 280px;
                margin: 0;
                left: 4%;
                position: absolute;
            }
            &::after {
                width: 290px;
                left: 3%;
                position: absolute;
            }
        }
    }
    .sec4 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;
        overflow: hidden;

        .contact {
            width: 80%;

            .contactContainer {
                width: 78%;
                opacity: 1;

                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton{
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            display: none;
        }
    }
    #demo-customized-button{
        right: 700px !important;
        top: 750px;
    }
    #demo-customized-button:nth-child(2){
        right: 700px !important;
        top: 655px;
    }
}

@media only screen and (width: 375px) {
    .sec1 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;

        main {
            position: relative;
            width: 100%;
            top: -120px;
            height: 915px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            z-index: 9;
            background: linear-gradient(to top, rgba(0, 145, 255, 0.5), rgb(255, 255, 255, 0.5));
            -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
            border: 1px solid rgba(255, 255, 255, 0.25);

            h1 {
                font-weight: 1000;
                font-family: italic;
                font-size: 38px;
                text-shadow: 2px 2px 8px rgb(255, 255, 255);
            }
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 2;
                height: 40%;
                background: linear-gradient(to bottom, $fondoClaro, transparent);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 40%;
                z-index: 2;
                background: linear-gradient(to top, #0091ff, transparent);
                mix-blend-mode: color;
            }
            .saludo {
                position: absolute;
                transform: translate(-50%, -225%);
                margin: 0;
                padding: 0;
                font-size: 0.41em;
                font-weight: bold;
                z-index: 2;
                font-family: sans-serif;
                color: #fff;
                text-transform: uppercase;
                text-shadow: 5px 5px 10px black;
                background: linear-gradient(to top, #0091ff, transparent);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 40%;
                object-fit: cover;
                pointer-events: none;
                margin: 0;
            }

            aside {
                position: absolute;
                right: 0px;
                height: 400px;
                transform: translate(0%, 45%);
                padding-left: 0px;
                margin-left: 0px;
                font-size: 18px;
                font-weight: bolder;
                width: 100%;
                text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.387);
            }
            p {
                font-size: 18px;
                color: black;
                font-family: $font;
            }
        }
    }
    .sec2 {
        width: 100%;
        height: 900px;
        background-size: 100% 790px !important;
        overflow: hidden;

        .dog {
            display: none;
        }
        .pesca {
            display: none;
        }
        .birds {
            display: none;
        }
        #codeR {
            width: 80%;
            margin-top: 15%;
            height: 750px;
            #navCode {
                height: 50px;
                position: relative;
                top: -40px;
                .nameFile {
                    font-size: 16px;
                    position: absolute;
                    top: 10px;
                    right: -80px;
                    margin: auto;
                }
                .logo {
                    top: -55px;
                    left: -100px;
                    position: relative;
                }
                .circulos {
                    display: none;
                }
                .closers {
                    display: none;
                }
            }

            .sidebarVsc {
                display: none;
            }

            .containerCode {
                top: -74px;
                width: 100%;
                left: 0;

                #bodyCode1 {
                    font-size: 12px;
                }
                #bodyCode2 {
                    font-size: 12px;
                }
                #bodyCode3 {
                    font-size: 12px;
                }
                #bodyCode3:nth-child(5) {
                    font-size: 10px;
                }
                #bodyCode3:nth-child(6) {
                    font-size: 8px;
                }
                #bodyCode4 {
                    font-size: 12px;
                }
                #bodyCode5 {
                    font-size: 12px;
                }
                #bodyCode6 {
                    font-size: 10px;
                }
            }
        }
    }
    .sec3 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;
        overflow: hidden;

        .fish {
            display: none;
        }
        #cardContainer{
            display: none;
        }
        .gradient-border {
            margin: 0;
            .slider {
                height: 100px;
                width: 280px;
                margin: 0;
                left: 4%;
                position: absolute;
            }
            &::after {
                width: 290px;
                left: 3%;
                position: absolute;
            }
        }
    }
    .sec4 {
        width: 100%;
        height: 900px;
        background-size: 320px 790px !important;
        overflow: hidden;

        .contact {
            width: 80%;

            .contactContainer {
                width: 78%;
                opacity: 1;

                .mb-2 {
                    width: 74%;

                    h4 {
                        align-content: center;
                    }
                    .form-control {
                        width: 100%;
                    }
                }
                .subButton{
                    position: relative;
                    right: 5%;
                }
            }
        }
        .subSec {
            display: none;
        }
    }
    #demo-customized-button{
        right: 700px !important;
        top: 750px;
    }
    #demo-customized-button:nth-child(2){
        right: 700px !important;
        top: 655px;
    }
}