.contact
    width: 400px
    height: 600px
    margin: 0px auto
    border: 4px solid gold
    overflow: hidden
    border-radius: 25px
    background: linear-gradient( to bottom,black, rgb(79, 100, 132))
    transition: box-shadow 2.2s linear

    &:hover
        -webkit-box-shadow: 11px 15px 19.5px 3.5px gold
        -moz-box-shadow: 11px 15px 19.5px 3.5px gold
        box-shadow: 11px 15px 19.5px 3.5px gold

    div
        margin: 50px auto
        width: 300px
