/*TEMA DE PALETA DE COLOR  */
$darkBlue: #0a65a2;
$bluePrincipal: rgb(48, 149, 216);
$celesteClaro: rgb(125, 220, 255);
$fondoClaro: rgb(255, 255, 255);
$sombraGris: rgba(100, 100, 100, 0.431);
$fontColor: rgb(0, 0, 0);
$colorGris: rgb(99, 99, 99);
/* margin BOTTOM */
$marginBottom: 4%;
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap");
$font: "Cormorant Garamond", serif;/* 
[#a7d9fa, #6ebff6, #34a6f2, #0a65a2, #064168, #031d2f, #000000] */