@import "_header"; 
@import "_variables";
@import "./nav/_nav.scss";
@import "./code/code";
@import "./services/services.scss";
@import "./contact/_contact.sass";
@import "./responsive/responsive";
* {
  margin: 0;
  padding: 0;
  font-family: $font;
  box-sizing: border-box;
}
/* COL */
.row {  
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}



body {
  background-color: $fontColor;
}
#pagepiling {
  text-align: center;
}
#pagepiling .section {
  color: rgb(11, 11, 11);
  font-size: 5em;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#pp-nav li .active span,
.pp-slidesNav .active span {
  background: rgb(255, 255, 255) !important; /*To change the active navigation bullets inner color*/
}
.sec1 { 
  background: url("https://agust1n-llad0s.000webhostapp.com/multimedia/recursosWebP/fotoSol.webp") top no-repeat; 
  background-size: 2160px 1000px;
}
.sec1Night {
  background-image: url("https://agust1n-llad0s.000webhostapp.com/multimedia/recursos/bg.jpg") no-repeat !important;
  background-size: 2160px 960px !important;
}
.sec2 {
  position:absolute ;
  left: 10px;
  background: radial-gradient(ellipse at bottom, rgb(223, 104, 0) 0%, rgb(225, 169, 0) 1%, rgb(37, 161, 255) 100%);
  background-size: 1945px 980px;
  background-repeat: no-repeat;
}

.sec3 {
  background: linear-gradient(to bottom, rgb(1, 88, 113) 0%, #015871 30%, #00485c 60%, rgb(19, 19, 19)) /* !important */;
  background-size: 1945px 980px;
  display: table-cell;
  vertical-align: middle;
}
.sec4 {
  background: black;
  background-size: 1945px 920px;
  cursor: url(https://agust1n-llad0s.000webhostapp.com/multimedia/recursos/Webp.net-resizeimage.png), auto;  
} /*
.dark-theme {
    background: #232526; 
    background: -webkit-linear-gradient(to top, #232526, #414345);
    background: linear-gradient(
        to top,
        #232526,
        #414345
    ); 
}
 */
