@import "../variables";
main {
  position: relative;
  width: 100%;
  top: -120px;
  height: 1115px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  z-index: 9;
  background: linear-gradient(to top, rgba(0, 145, 255, 0.5), rgb(255, 255, 255, 0.5));
  -webkit-backdrop-filter: blur(13px);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.25);

  h1{
    font-weight: 1000;
    font-family: italic;
    font-size: 40px;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 74.69%;
    z-index: 2;
    height: 100%;
    background: linear-gradient(to bottom, $fondoClaro, transparent);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 74.69%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to top, #0091ff, transparent);
    mix-blend-mode: color;
  }
  .saludo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%);
    margin: 0;
    padding: 0;
    font-size:.81em;
    font-weight: bold;
    z-index: 2;
    font-family: sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: 1inear-gradient(rgb(255, 255, 255) 20%, transparent 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.9);
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 74.69%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    margin: 0;
  }

  aside {
    position: absolute;
    right: 50px;
    height: 800px;
    width: 22.31%;
    padding-left: 0px;
    margin-left: 0px;
    font-size: 22px;
  }
  p {
    font-size: 22px;
    color: black;
    font-family: $font;
  }
}

/* REVEAL */
.reveal {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: 3s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
